/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Qnibble.iml
/.idea/vcs.xml
/.idea/other.xml
profiles_and_meta_data/
.ipynb_checkpoints/
/src/__pycache/
.DS_Store
/data/
/Scripts/.pytest_cache/
/Notebooks/.ipynb_checkpoints/
/src/__pycache__/
/data/
